*{
  text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bs-glow{
  position: relative;
  background:  #000000;

  min-height: 100vh;
  overflow: hidden;
}

.bg-glow::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 30%;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255,0,106,0.6), transparent 70%);
  filter: blur(120px);
  border-radius: 50%;
}

.bg-glow::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 20%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(167,52,189,0.6), transparent 70%);
  filter: blur(100px);
  border-radius: 50%;
}

.circle {
  position: absolute;   /* take it out of the normal flow */
  top: 50%;             /* adjust position */
  left: 50%;
  transform: translate(-50%, -50%); /* center it */
  z-index: 0;           /* put it behind */
}

.img-mobile {
  position: relative;
  z-index: 1;           /* keep phone image above */
}

.img-with{
  width: 188px;
height: 48px;

opacity: 1;


}

.crcl:{
width: 711;
height: 711;
top: 339px;
left: -533.5px;
angle: -90 deg;
opacity: 1;
border-radius: 9522.32px;

}
/* .img-mobile {
  width: 288px;
height: 200px;


opacity: 1;

} */

   .grad {
      background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
      -webkit-background-clip: text;       /* Chrome, Safari */
      -webkit-text-fill-color: transparent;
      background-clip: text;               /* Firefox */
      font-size: 48px;
      font-weight: bold;
    }


@media only screen and (max-width: 1000px) {
 .clm-rev{
    display: flex;
    flex-direction: column-reverse;
 }
  
 .crcl:{
    display: none;
 }
  .img-mobile {

    margin : 0,auto,0,auto;
    display: block;
}
}