*{
  text-transform: capitalize;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bs-glow{
  position: relative;
  background:  #000000;

  min-height: 100vh;
  overflow: hidden;
}

.bg-glow::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 30%;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255,0,106,0.6), transparent 70%);
  filter: blur(120px);
  border-radius: 50%;
}

.bg-glow::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 20%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(167,52,189,0.6), transparent 70%);
  filter: blur(100px);
  border-radius: 50%;
}


.neon{
      width: 751.9999389648438;
height: 751.9999389648438;
top: 92px;
left: -264px;

opacity: 1;
border-radius: 10071.43px;

}



/* .circle{

  width: 500px;
  height: 500px;
  border-radius: 250px;
  background: linear-gradient(to bottom right, rgba(184, 68, 255, 1), rgba(255, 0, 106, 1));
  border: 2px solid black;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;

} */


.img-mobile {
width: 288;
height: 382.3340454101562;


opacity: 1;

}

.img-with{
  width: 188px;
height: 48px;

opacity: 1;


}



   .grad {
      background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
      -webkit-background-clip: text;       /* Chrome, Safari */
      -webkit-text-fill-color: transparent;
      background-clip: text;               /* Firefox */
      font-size: 48px;
      font-weight: bold;
    }


@media only screen and (max-width: 1000px) {
 .clm-rev{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
  
 .neon:{
    display: none;
 }
  .img-mobile {

    margin : 0,auto,0,auto;
    display:flex ;
}

}